NODE_ENV=development
PORT=3000

DATABASE_URL=""
TALLY_API_KEY =""
TALLY_FORM_ID = ""
SESSION_COOKIE_NAME=mega_session
SESSION_DURATION_DAYS=7

## Note: tally form id is the the last /string when you create a form and a shareable url comes. 
## make a test form for testing.